{% extends 'base.html.twig' %}

{% block title %} Nos bracelets {% endblock %}

{% block body %}

    <h1 class="center-align blue-grey-text">Nos bracelets</h1>
<div class="row">

    {% for jewelry in jewelries %}

        <div class="col s3">
            <div class="card">

                <div class="card-image waves-effect waves-block waves-light img-welcome"
                     style="background: url('{{ jewelry.picture }}') no-repeat center center; background-size: contain;">

                </div>
                <div class="card-content">

                    <span class="card-title activator grey-text text-darken-4"><i
                                class="material-icons right blue-text">visibility</i></span>
                    <p><a href="{{ jewelry.id }}"></a>{{ jewelry.name }}</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title blue-text text-darken-4">Description<i
                                class="material-icons right">close</i></span>
                    <p>{{ jewelry.description }}</p>
                    <p class="flow-text">{{ jewelry.price }}€</p>
                </div>

            </div>
        </div>

    {% else %}
        <h5 class="center-align">Plus de bracelets en stock</h5>
        <div class="row">
        <img class="materialboxed" width="650" src="https://www.cjoint.com/doc/20_07/JGxpgZuIjUA_Logo.jpg" alt="">

        </div>
    {% endfor %}
</div>
{% endblock %}
