<nav>
    <div class="nav-wrapper blue-grey">
        <a href="{{ path('jewelry_home') }}" class="brand-logo">Les Bijoux de Caline</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ path('jewelry_earring') }}">Boucles d'oreilles</a></li>
            <li><a href="{{ path('jewelry_set') }}">Parures</a></li>
            <li><a  href="{{ path('jewelry_bracelet') }}" >Bracelets</a></li>
            <li><a href="{{ path('jewelry_necklace') }}">Colliers</a></li>
        </ul>
    </div>
</nav>


