{% extends 'base.html.twig' %}

{% block title %}Edit Jewelry{% endblock %}

{% block body %}
    <h1>Modifier {{ jewelry.name }}</h1>

    <a href="{{ path('jewelry_index') }}"><button class="btn blue">{{ button_label|default('Retour à la liste des articles') }}</button></a>

    {{ include('jewelry/_form.html.twig', {'button_label': 'Modifier'}) }}

    <br>

    {{ include('jewelry/_delete_form.html.twig') }}
{% endblock %}
