{% extends 'base.html.twig' %}

{% block title %}Jewelry index{% endblock %}

{% block body %}
    <h1 >Les différents Bijoux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Description</th>
                <th>Prix</th>
                <th></th>
                <th>Modifier</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
        {% for jewelry in jewelries %}
            <tr>
                <td>{{ jewelry.id }}</td>
                <td>{{ jewelry.name }}</td>
                <td class="col s4">{{ jewelry.category.name }}</td>
                <td>{{ jewelry.description }}</td>
                <td>{{ jewelry.price }}€</td>

                <td>
                    <a href="{{ path('jewelry_show', {'id': jewelry.id}) }}"><i class="material-icons"></i></a>

                </td>
                <td>
                    <a href="{{ path('jewelry_edit', {'id': jewelry.id}) }}"><i class="material-icons">edit</i></a>
                </td>
                <td><img class="responsive-img" src="{{ jewelry.picture }}" alt="{{ jewelry.name }}"></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('jewelry_new') }}"><button class="btn blue">{{ button_label|default('Créer un nouvel article') }}</button></a>
{% endblock %}
