{% extends 'base.html.twig' %}

{% block title %}Jewelry{% endblock %}

{% block body %}
    <h1>{{ jewelry.category.name }}: {{ jewelry.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jewelry.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ jewelry.name }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ jewelry.category.name }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img width="20%" src="{{ jewelry.picture }}" alt="{{ jewelry.name }}"></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ jewelry.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ jewelry.price }}€</td>
            </tr>
            <tr>
                <th>Identifier</th>
                <td>{{ jewelry.identifier }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('jewelry_index') }}">Retour à la liste</a>

    <a href="{{ path('jewelry_edit', {'id': jewelry.id}) }}">edit</a>

    {{ include('jewelry/_delete_form.html.twig') }}
{% endblock %}
